<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <title>Login</title>
</head>
<body id="body">
    <div class="navbar">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo" id="logo">
        <h1 class="titles">Contacts</h1>
    </div>
    {% block content %}

    {% endblock %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>