
{% extends 'layouts/layout.html' %}
{% block content %}
    <section class="container">
        <div class="upload-form">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="path" value="{{ fs.current_path }}">
                <input type="file" id="send" name="file" class="send" required><br>
                <button type="submit" class="button-send">Send</button>
            </form>
        </div>
        
        <button onclick="backWin()" style="border: none; border-radius: 8px; margin-top: 15px; margin-bottom: -10px; padding: 6px 17px;" >
            <img src="{{ url_for('static', filename='img/icons/back.svg') }}" alt="">
        </button>
        <script>
            function backWin() {
            window.history.back();
        }
        </script>
        <div class="files-container">
            
                    <div class="dirs">
                        {% for directorie in fs.directories %}
                        <div class="content-file">
                            <form action="/{{ fs.routes }}/{{ directorie }}" method="post">
                                <!--<input type="hidden" name="ruta" value="{{ dir }}">-->
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" id="path" class="button-dir">
                                    <img src="{{ url_for('static', filename='img/icons/icon.svg') }}" alt="Dir" class="icons icon-dir">
                                    <h3 class="dir-names">{{ directorie }}</h3>
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                
                
                <div class="files">
                    {% for file in fs.files %}
                    <div class="content-file">
                        <a href="/download/{{ fs.current_path }}/{{ file }}" class=" content-files">
                            <img src="{{ url_for('static', filename='img/icons/files.svg') }}" alt="File" class="icons">
                            <h3 class="file-names">{{ file }}</h3>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            

        </div>
    </section>
{% endblock %}
