{% extends 'layouts/layout.html' %}

{% block content %}
    <section class="container">
        <div class="upload-form">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="path" value="{{ fs.current_path }}">
                <input type="file" id="send" name="file" class="send" required><br>
                <button type="submit" class="button-send">Send</button>
            </form>
        </div>
        <div class="files-container">
            
                <div class="dirs">
                    {% for directorie in fs.directories %}
                        <div class="content-file">
                            <form action="/{{ directorie }}" method="post">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="submit" class="button-dir">
                                    <img src="{{ url_for('static', filename='img/icons/icon.svg') }}" alt="Dir" class="icons icon-dir">
                                    <h3 class="dir-names" style="text-align: center;">{{ directorie }}</h3>
                                </button>
                            </form>
                        </div>
                    {% endfor %}
                </div>
                
            
                <div class="files">
                    {% for file in fs.files %}
                    <div class="content-file">  
                        <a href="/download/{{ fs.current_path + file }}" class=" content-files">
                            <img src="{{ url_for('static', filename='img/icons/files.svg') }}" alt="File" class="icons">
                            <h3 class="file-names" style="text-align: center;">{{ file }}</h3>       
                        </a>
                    </div>
                    {% endfor %}
                </div>
            
            
        </div>
    </section>    
{% endblock %}
