{% extends 'layouts/layout.html'%}

{% block content %}
    <section id="log-container">
        <div id="form-container">
            <form action="/login" method="post" id="form">
                <h1 class="titles">Sign In</h1>
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p id="message" style="color: red;">{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}                
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="text" name="name" id="name" class="in-form" placeholder="Name" required>
                <input type="password" name="password" id="password" class="in-form" placeholder="Password" required>
                <input type="checkbox" name="" id="show-passwd">
                <button type="submit" class="btn">Sign In</button>
            </form>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}
