@font-face {
    font-family: 'SourceCode Pro';
    src: url(../fonts/SourceCode/SourceCodePro-MediumItalic.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/RobotoMono-Light.ttf);
}

body {
    background-image: url(../img/background.avif);
    background-position-y: center;
    margin: 0;
}

.navbar {
    position: sticky;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2A2F34;
}   

.titles {
    font-size: 40px;
    font-family: 'SourceCode Pro';
    color: #fff;
    margin: -1px;
    padding: -1px;
    
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}

.content {
    margin: 0;
}


.bton{
    height: 40px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: none;
    border: none;
}


.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
}