@font-face {
    font-family: 'SourceCode Pro';
    src: url(../fonts/SourceCode/SourceCodePro-MediumItalic.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/RobotoMono-Light.ttf);
}

body {
    background-image: url(../img/background.avif);
    background-position-y: center;
    margin: 0;
}

.navbar {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f101a;
    
}  

.nav-logo {
    padding-left: 30px;
}


.nav-name {
    padding-right: 30px;
}

.nav-item {
    padding-right: 10px;
    padding-left: 10px;
    list-style: none;   
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
}

.titles {
    font-family: 'SourceCode Pro';
    font-weight: bold;
    font-size: 50px;    
    color: #fff;
    margin: 0;
}

.item-log {
    margin-left: 20px;
}


.item-log:hover {
    border-bottom: solid #fff;
}

.title {
    font-family: 'SourceCode Pro';
    font-size: 25px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}

.icons {
    filter: invert(80%);
}

.icon-dir {
    filter: invert(80%);
}

.icons {
    width: 60px;
}
