<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <title>CLOUD</title>
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <a class="" href="{{ url_for('home.home') }}">
                <img src="{{ url_for('static', filename='img/cloud.png') }}" alt="Logo" width="80" height="40" class="nav-item">
            </a>
        </div>
        <div class="nav-name">
            {% if current_user.is_authenticated %}
                <ul class="nav-item">
                    <li class="item" type="button"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <h1 class="titles">{{ current_user.full_name }}</h1>
                    </li>   
                    <li class="item">
                        <a href="{{ url_for('logout.logout') }}" class="title item-log">Logout</a>
                    </li>
                </ul>
            {% endif %}
                
            {% if not current_user.is_authenticated %}
                <h1 class="title-log titles">Login</h1>
            {% endif %}
        </div>
                
    </nav>

    {% block content %}

    {% endblock %}


    
</body>
</html>